.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 200px;
  border-radius: 5px;
}
.bottom {
  text-align: center;
  font-family: "roboto", Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.input {
  margin: 20px;
  padding: 10px;
}
.item {
  margin: 10px;
}
.card-container {
  text-align: center;
}

.dis {
  text-align: left;
}
.text {
  font-family: "Roboto";
  text-align: left;
}
.list-container {
  text-align: left;
}
nav {
  height: 50px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 60px;
  background: lightgreen;
}
nav p {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
nav a {
  margin-right: 10px;
  color: black;
}
